<!DOCTYPE html>

<head>
    <!--  Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <!--  Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.css">
    <!--  font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>差勤系統</title>
    
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/page/table-template.css">
    <!-- CSS -->
    
</head>

<body>
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <div class="position-relative d-flex justify-content-center align-items-center">
                            <input class="position-absolute" type="checkbox" name="checkbox" value="y" id="checkAll">
                            <div class="checkBox"></div>
                        </div>
                    </th>
                    <th>職務線別</th>
                    <th>職務</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="position-relative d-flex justify-content-center align-items-center">
                            <input class="position-absolute" type="checkbox" name="checkbox" value="y">
                            <div class="checkBox"></div>
                        </div>
                    </td>
                    <td>2:二階</td>
                    <td>專員</td>
                </tr>
                <tr>
                    <td>
                        <div class="position-relative d-flex justify-content-center align-items-center">
                            <input class="position-absolute" type="checkbox" name="checkbox" value="y">
                            <div class="checkBox"></div>
                        </div>
                    </td>
                    <td>3:三階</td>
                    <td>專員</td>
                </tr>
                <tr>
                    <td>
                        <div class="position-relative d-flex justify-content-center align-items-center">
                            <input class="position-absolute" type="checkbox" name="checkbox" value="y">
                            <div class="checkBox"></div>
                        </div>
                    </td>
                    <td>4:機場櫃檯</td>
                    <td>專員</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>