input[type="checkbox"] {
    opacity: 0;
}

input[type="checkbox"]:checked + div {
    background-image: url(../../img/0830/checkmark-000.svg),
        -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
    background-image: url(../../img/0830/checkmark-000.svg), linear-gradient(to right, #fff, #fff);
}

.checkBox {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    border: solid 1px #ec6968;
    background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
    background-image: linear-gradient(to right, #fff, #fff);
    background-size: contain, 100%;
}

@media (min-width: 768px) {
    .checkBox {
        width: 15px;
        height: 15px;
    }
}
.healthInsurance {
    .searchArea {
        .searchForm {
            padding: 30px;
            margin: 40px 0;
            border-radius: 5px;
            box-shadow: 0 1px 3px 1px rgba(67, 67, 67, 0.6);

            input,
            label {
                flex-grow: 1;
                margin: 0;
            }
            label {
                margin-bottom: 0;
            }
            .required {
                color: red;
            }
            .panel {
                width: 45px;
                height: 38px;
                pointer-events: none;
                top: 0;
                right: 0;
                border-radius: 5px;
                border: solid 1px rgba(black, 0.2);
                .panel-icon {
                    width: 22px;
                    height: 22px;
                }
            }
        }
        .btn {
            background-color: #55beb7;
            color: #fff;
            border-radius: 8px;
        }
        .btn-outline {
            background-color: #fff;
            color: #55beb7;
            border: solid 2px #55beb7;
        }
    }
    .hr {
        margin: 30px 40px 30px 40px;
        height: 2px;
        background-color: #ec6968;
    }
    .resultList {
        h3 {
            color: #ec6968;
        }
        .btnArea {
            .control-btn {
                padding: 2px 10px;
                box-shadow: 1px 1px 3px 1px rgba(67, 67, 67, 0.6);
                color: #ec6968;
                margin: 20px 5px;
            }
            .control-btn:first-child {
                margin-left: 0;
            }
        }
        .hintArea {
            list-style: none;
            margin: 0;
            padding: 0;
            .hint {
                margin-left: 15px;
                color: #ec6968;
            }
        }
        table {
            text-align: center;
            select {
                border: none;
            }
            th,
            td {
                padding: 5px 0;
                border: solid 2px #ec6968;
                vertical-align: inherit;
                .fa-edit {
                    color: #ec6968;
                }
            }
            th {
                background-color: #ec6968;
                color: #fff;
            }
            tr:nth-child(even) {
                background-color: #f7e1dc;
                select {
                    background-color: #f7e1dc;
                }
            }
            .reason-btn {
                cursor: pointer;
            }
        }
    }

    .uploadFile {
        h3 {
            color: #ec6968;
        }
        .uploadForm {
            .confirmArea {
                color: #ec6968;
            }
            .btn {
                background-color: #55beb7;
                color: #fff;
                border-radius: 8px;
            }
            .btn-outline {
                background-color: #fff;
                color: #55beb7;
                border: solid 2px #55beb7;
            }
            table {
                text-align: center;
                select {
                    border: none;
                }
                th,
                td {
                    padding: 5px 0;
                    border: solid 2px #ec6968;
                    vertical-align: inherit;
                    .fa-edit {
                        color: #ec6968;
                    }
                }
                th {
                    background-color: #ec6968;
                    color: #fff;
                }
                tr:nth-child(even) {
                    background-color: #f7e1dc;
                    select {
                        background-color: #f7e1dc;
                    }
                }
                .new{
                    background-color: #fff;
                }
                .btn {
                    width: 90px;
                    padding: 1px 5px;
                    box-shadow: 1px 1px 3px 1px rgba(67, 67, 67, 0.6);
                    color: #ec6968;
                    background-color: #fff;
                    border-radius: 3px;
                }
                .description-btn{
                    background-color: #fff;
                    color: black;
                    width: 95%;
                }
                .upload-btn{
                    padding: 0 12px;
                }
            }
        }
    }
}

.popbox{
    background-color: rgba(#fff,0.5);
    .close{
        background-color: red;
        text-shadow: none;
        color: white;
        padding: 0;
        transform: translate(-10px,10px);
        border-radius: 5px;
        width: 25px;
        height: 25px;
    }
    .modal-header{
        border-bottom: none;
    }
    .reason{
        background-color: #ec6968;
        color: #fff;
        border-radius: 8px;
    }
    textarea{
        margin-top: 20px;
        border: solid 3px #ec6968;
        border-radius: 10px;
    }
}

.textBold{
    font-weight: 800;
}


td{
    font-weight: 800;
}