$green: #56bdb7;
$pink: #eb6868;
$lightpink: #f7e1dc;

@mixin shadow {
    box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.2);
}

@mixin btn-shadow {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"] {
    opacity: 0;
}

input[type="checkbox"]:checked+div {
    background-image: url(../../img/groupMember/checkmark-000.svg),
        -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
    background-image: url(../../img/groupMember/checkmark-000.svg), linear-gradient(to right, #fff, #fff);
}

.checkBox {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: solid 2px $pink;
    background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
    background-image: linear-gradient(to right, #fff, #fff);
    background-size: contain, 100%;
}

.selectgroup {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectgroup:after {
    position: absolute;
    content: "";
    display: inline-block;
    border-style: solid;
    border-width: 7px 5px 0 5px;
    border-color: #000000 transparent transparent transparent;
    right: 10px;
    pointer-events: none;
}


#agentSetting {
    font-weight: bold;
    font-size: 16px;

    hr {
        border-top: 2px solid $pink;
        margin: 30px 0;
    }

    .title {
        color: $pink;
        font-size: 25px;
        letter-spacing: .5px;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .agentSettingForm {
        padding: 0 20px 20px 20px;
        margin: 20px 0 0 0;
        border-radius: 16px;
        @include shadow();

        .collapse-control {
            position: relative;

            .collapse-btn {
                width: 100%;
                height: 38px;
                display: flex;
                align-items: center;
                letter-spacing: 1.8px;
                border-radius: .25rem;
                border: 2px solid #ced4da;
                color: #808080;
                margin-top: 20px;
                padding-left: 15px;

                .fa-search {
                    transform: scaleX(-1);
                    margin-right: 5px;
                }
            }

            .collapse-icon {
                position: absolute;
                border: 1.5px solid #c4c3c3;
                border-radius: .25rem;
                height: 38px;
                width: 38px;
                right: 0;
                top: 0;
                display: flex;
                justify-content: center;
                align-items: center;

                &:after {
                    content: "";
                    display: inline-block;
                    border-style: solid;
                    border-width: 12px 7px 0 7px;
                    border-color: #000000 transparent transparent transparent;
                    pointer-events: none;
                }
            }
        }

        label {
            margin: 20px 0 10px 0;
        }

        .form-control {
            border: 2px solid #C4C3C3;
            color: #4D4D4D;
            font-size: 16px;
            font-weight: bold;
            padding: 3px 5px;
            letter-spacing: 1.8px;
            height: unset;

            @media screen and (max-width: 576px) {
                text-align: center;
                letter-spacing: 0;
            }
        }

        .dateInput {
            border: 2px solid #C4C3C3;
            color: #4D4D4D;
            font-size: 16px;
            font-weight: bold;
            border-radius: .25rem;

            input {
                padding: 5px 10px;
                letter-spacing: 1.8px;
                font-weight: bold;

                @media screen and (max-width: 576px) {
                    text-align: center;
                }
            }

            .date-icon {
                border: 2px solid #C4C3C3;
                height: 35px;
                width: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: -2px;
                border-radius: .25rem;
            }
        }
        .right+.calendar_modle{
            right:0 !important;
            left:unset !important;
        }

        .calendar_modle{
            width: 40vw;

            @media(max-width:576px){
                width: 100vw;
            }
        }
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #55beb7;
        color: #fff;
        border-radius: 8px;
        font-weight: bold;
        margin: 0 10px;
        cursor: pointer;
        width: 85px;
        height: 40px;
        margin-top: 30px;
        @include btn-shadow();

        &.btn-outline {
            background-color: #fff;
            color: #55beb7;
            border: solid 2px #55beb7;
        }

        .fas {
            margin-right: 5px;
        }

        .fa-search {
            transform: scaleX(-1);
        }
    }

    .searchResult {
        font-size:14px;

        @media screen and (max-width: 576px) {
            font-size:16px;
        }

        .add-btn-area {
            @media screen and (max-width: 576px) {
                justify-content: center;
            }

            .add-btn {
                @include btn-shadow();
                padding:0 20px;
                line-height: 30px;
                text-align: center;
                border-radius: 3px;
                color: $pink;
                margin-bottom: 20px;
                text-decoration: none;
                cursor: pointer;
            }
        }

        table {
            text-align: center;
            border-collapse: separate;
            border-radius: 8px;
            border-spacing: 0;
            line-height: 1.2;
            letter-spacing: 0;
            table-layout: fixed;

            th,
            td {
                font-weight: bold;
                padding: 5px 0;
                vertical-align: inherit;
                border: solid 1px $pink;

                &:first-child {
                    border-left: solid 2px $pink;
                }

                &:last-child {
                    border-right: solid 2px $pink;
                }

                a {
                    text-decoration: none;
                    color: unset;
                    white-space: nowrap;
                }
            }

            th {
                background-color: $pink;
                color: #fff;
                white-space: nowrap;
            }

            thead {
                tr {
                    th {
                        &:first-child {
                            border-top-left-radius: 5px;
                        }

                        &:last-child {
                            border-top-right-radius: 5px;
                        }
                    }
                }
            }

            tbody {
                &:nth-child(odd) {
                    background-color: $lightpink;
                }

                &:last-child {
                    tr {
                        td {
                            border-bottom: solid 2px $pink;

                            &:first-child {
                                border-bottom-left-radius: 5px;
                            }

                            &:last-child {
                                border-bottom-right-radius: 5px;
                            }
                        }
                    }
                }
            }

            .edit-area {
                color: $pink;
                padding: 0 2px;
                background-color: #fff;

                .fa-times {
                    line-height: 20px;
                    border-radius: 2px;
                    width: 20px;
                    height: 20px;
                    @include btn-shadow();
                }
            }
        }

        .paginationArea {
            margin-top: 30px;

            .pagination {
                li {
                    margin-left: 15px;
                }

                li:nth-child(2) .fas {
                    transform: scaleX(-1);
                }

                .fas.fa-play {
                    font-size: 15px;
                }

                .fas {
                    color: $pink;
                    font-size: 20px;
                    cursor: pointer;
                }

                .pageItem {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-height: 25px;
                    min-width: 25px;
                    border-radius: 50%;
                    cursor: pointer;

                    &.active {
                        color: #fff;
                        background-color: $pink;
                    }
                }

                input {
                    width: 50px;
                    border-radius: 2px;
                    border: 2px solid #C4C3C3;
                }

                .go-btn {
                    padding: 0 10px;
                    box-shadow: 1px 1px 3px 1px rgba(67, 67, 67, 0.2);
                    background-color: white;
                    border-radius: 0px;
                    color: $pink;
                    border-radius: 5px;
                    line-height: 1.5rem;
                }
            }

        }

        .result-list-mb {
            font-size: 16px;
            line-height: 1.4em;

            .card {
                border: solid 2px $pink;
                border-radius: 8px;
                @include shadow();

                a {
                    text-decoration: none;
                    color: unset;
                }
            }

            .card+.card {
                margin-top: 25px;
            }

            .card:nth-child(even) {
                .tr {
                    background-color: $lightpink;
                    color: $pink;

                    &:nth-child(even) {
                        background-color: #fff;
                        color: #000;
                    }

                    &.btn-area {
                        background-color: #fff;
                    }
                }
            }

            .tr {
                display: flex;
                border-bottom: solid 2px $pink;

                .td,
                .th {
                    text-align: center;
                    width: 100%;
                    padding: 5px;
                    &.edit-area-mb {
                        padding: 0;
                    }
                }

                &:nth-child(odd) {
                    background-color: $pink;
                    color: #fff;
                }

                .td:nth-child(2) {
                    border-left: 2px solid $pink;
                }

                .last-child {
                    border-left: 2px solid $pink;
                }

            }

            .checkbox-area {
                border-bottom: 2px solid $pink;
                padding: 5px 0;
            }
            .edit-area-mb{
                display: flex;
                color: $pink;
                padding: 0px;
                background-color: #fff;
                .edit-btn{
                    flex-grow: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    &:first-child{
                        border-right: 2px solid $pink;
                    }
                }
                .fa-times {
                    line-height: 20px;
                    border-radius: 2px;
                    width: 20px;
                    height: 20px;
                    @include btn-shadow();
                }
            }
            .collapse-btn-area {
                border-bottom: none;
                background-color: white !important;

                .collapse_btn {
                    width: 20px;
                    height: 20px;
                    border: solid 2px #82cbc6;
                    border-radius: 50%;
                    color: black;
                    transition: 0.5s;

                    i {
                        width: 100%;
                        height: 16px;
                        text-align: center;
                        position: relative;
                        right: -1px;

                        @media(max-width:400px) {
                            top: 2px;
                        }
                    }
                }
            }
        }
    }


}