.login .wrap {
  background-image: url(../../img/login/bgi.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 63px 0 147px 0;
}

@media (min-width: 768px) {
  .login .wrap {
    padding: 50px 0 60px 0;
    background-image: url(../../img/login/bgi-pad.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.login .wrap__logo {
  margin-bottom: 37px;
}

@media (min-width: 768px) {
  .login .wrap__logo {
    width: 125px;
    margin-bottom: 18px;
  }
}

.login .wrap__inputBox {
  margin-bottom: 14px;
}

@media (min-width: 768px) {
  .login .wrap__inputBox {
    margin-bottom: 16px;
  }
}

@media (min-width: 768px) {
  .login .wrap__inputBox.last {
    margin-bottom: 23px;
  }
}

.login .wrap__inputBox .icon {
  top: calc(50% - 10px);
  left: 23px;
}

.login .wrap__inputBox .icon.PWD {
  left: 24px;
}

.login .wrap__inputBox .icon.code {
  left: 21px;
}

.login .wrap__inputBox input {
  width: 243px;
  height: 45px;
  border-radius: 10px;
  padding-left: 68px;
}

@media (min-width: 768px) {
  .login .wrap__inputBox input {
    width: 260px;
  }
}

.login .wrap__inputBox input::-webkit-input-placeholder {
  font-size: 15px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.2);
  text-align: left;
}

.login .wrap__inputBox input:-moz-placeholder {
  font-size: 15px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.2);
  text-align: left;
}

.login .wrap__inputBox input::-moz-placeholder {
  font-size: 15px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.2);
  text-align: left;
}

.login .wrap__inputBox input.failed {
  border: 2px solid #e71f19;
  -webkit-box-shadow: 0 0 0 0  transparent;
          box-shadow: 0 0 0 0  transparent;
}

.login .wrap__readonlyCode {
  width: 110px;
  height: 34px;
  min-height: 34px;
  background-color: #fff;
  border-radius: 10px;
  padding: 0 6px;
  margin-bottom: 17px;
}

.login .wrap__readonlyCode span {
  font-weight: bold;
  font-size: 18px;
}

.login .wrap__readonlyCode-re {
  margin-bottom: 17px;
  margin-left: 14px;
}

.login .wrap__readonlyCode .r {
  color: red;
}

.login .wrap__readonlyCode .g {
  color: green;
}

.login .wrap__readonlyCode .b {
  color: blue;
}

.login .wrap__readonlyCode .p {
  color: purple;
}

.login .wrap__readonlyCode .y {
  color: yellowgreen;
}

.login .wrap__checkBox {
  padding-left: 35px;
  margin-bottom: 58px;
}

.login .wrap__checkBox input {
  opacity: 0;
  width: 24px;
  height: 23px;
  top: -4px;
  left: 24px;
  z-index: 10;
}

.login .wrap__checkBox .checkStatus {
  width: 24px;
  height: 23px;
  border-radius: 100%;
  background-color: #fff;
  left: 4px;
}

.login .wrap__checkBox .checkStatus .checked {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #fff;
}

.login .wrap__checkBox input:checked + .checkStatus .checked {
  background-color: #e71f19;
}

.login .wrap__checkBox label {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.38px;
}

.login .wrap__btnBox-btn {
  width: 83px;
  height: 38px;
  margin: 0;
  font-size: 15.5px;
  font-weight: bold;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(67, 67, 67, 0.6);
          box-shadow: 1px 1px 3px 1px rgba(67, 67, 67, 0.6);
}

.login .wrap__btnBox-btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.login .wrap__btnBox-btn:first-child {
  margin-right: 20px;
  border: 1.5px solid #e71f19;
  background-color: #fff;
}

.login .wrap__btnBox-btn:last-child {
  color: #FFF;
  border: solid 1.5px #ffffff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e71f19), to(#e83a19));
  background-image: linear-gradient(to top, #e71f19, #e83a19);
  text-decoration: none;
}
/*# sourceMappingURL=login.css.map */