$green: #56bdb7;
$pink: #eb6868;
$lightpink: #f7e1dc;

@mixin shadow {
    box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.2);
}
@mixin btn-shadow {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"] {
    opacity: 0;
}

input[type="checkbox"]:checked + div {
    background-image: url(../../img/groupMember/checkmark-000.svg),
        -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
    background-image: url(../../img/groupMember/checkmark-000.svg), linear-gradient(to right, #fff, #fff);
}

.checkBox {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: solid 2px $pink;
    background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
    background-image: linear-gradient(to right, #fff, #fff);
    background-size: contain, 100%;
}
.fa-users-cog {
    color: $pink;
}

span{
    font-weight: bold;
}

#proveApplyCreate {
    font-weight: 900;
    .title {
        font-size: 20px;
    }
    hr {
        border-top-width:2px;
        border-color: $pink;
    }
    .printProveArea {
        .printProveForm {
            padding: 20px;
            margin: 20px 0 30px 0;
            border-radius: 16px;
            @include shadow;
            .required {
                color: red;
            }
            input {
                @media screen and (max-width: 768px) {
                    text-align: center;
                }
            }
            label {
                margin: 0px 0 10px 0;
                &.checkbox-label {
                    color: $pink;
                }
            }

            .btn-l {
                margin: 30px 10px 0 10px;
            }

            .btn-r {
                margin: 30px 10px 0 10px;
                padding:5px;
            }
            .form-control{
                letter-spacing: 1.8px;
                border-width:2px;
            }
        }
        .btn {
            background-color: $green;
            color: #fff;
            border-radius: 8px;
            margin: 10px;
            @include btn-shadow;
            cursor: pointer;
        }
        .btn-outline {
            background-color: #fff;
            color: $green;
            border: solid 2px $green;
        }
    }

    .proveApplyList {
        .title {
            color: $pink;
            font-size: 25px;
        }
        .proveApplyForm {
            padding: 20px 5px;
            margin: 0 0 20px 0;
            border-radius: 18px;
            table {
                text-align: center;
                border-collapse: separate;
                border-radius: 8px;
                border-spacing: 0;
                select {
                    -webkit-appearance: menulist;
                    -moz-appearance: menulist;
                    appearance: menulist;
                    border: none;
                    outline: none;
                }
                th,
                td {
                    padding: 5px 0;
                    vertical-align: inherit;
                    border-bottom: solid 1.5px $pink;
                    border-right: solid 1.5px $pink;
                    &:first-child {
                        border-left: solid 1.5px $pink;
                    }
                    .fa-edit {
                        color: $pink;
                    }
                }
                th {
                    background-color: $pink;
                    color: #fff;
                    padding: 10px 0;
                }
                tr:nth-child(even) {
                    background-color: $lightpink;
                    select {
                        background-color: $lightpink;
                    }
                }

                tr:last-child {
                    td:first-child {
                        border-bottom-left-radius: 8px;
                    }
                    td:last-child {
                        border-bottom-right-radius: 8px;
                    }
                }
                thead {
                    tr {
                        th {
                            &:first-child {
                                border-top-left-radius: 8px;
                            }
                            &:last-child {
                                border-top-right-radius: 8px;
                            }
                        }
                    }
                }
                input {
                    width: 96%;
                    border: none;
                    @include btn-shadow;
                    border-radius: 4px;
                    text-align: center;
                    font-weight:bold;
                }
            }
            .btn {
                background-color: $green;
                color: #fff;
                border-radius: 8px;
                margin: 30px 10px;
                @media screen and (max-width: 768px){
                    margin: 0px 10px;
                }
                @include btn-shadow;
                cursor: pointer;
                .fas {
                    color: white;
                    margin-right: 5px;
                }
            }
            .btn-outline {
                background-color: #fff;
                color: $green;
                border: solid 2px $green;
                .fas {
                    color: $green;
                }
            }
            .proveApplyForm-mb {
                .card {
                    font-weight: 600;
                    border: solid 1px #ec6968;
                    border-radius: 8px;
                    overflow: hidden;
                    &:nth-child(even) {
                        .th {
                            background-color: #f7e1dc;
                            color: #ec6968;
                            &.btnArea {
                                background-color: #fff;
                            }
                        }
                    }
                    select {
                        -webkit-appearance: menulist;
                        -moz-appearance: menulist;
                        appearance: menulist;
                        border: none;
                        outline: none;
                    }
                }

                .label,
                .data {
                    flex: 1;
                    text-align: center;
                    padding: 5px;
                }
                .data:first-child {
                    border-right: 1px solid #ec6968;
                }
                .th {
                    color: #fff;
                    background-color: #ec6968;
                    padding: 5px 0;
                    border-bottom: 1px solid #ec6968;
                }
                .td {
                    background-color: #fff;
                    padding: 5px 0;
                    border-bottom: 1px solid #ec6968;
                    &.last-td {
                        border-bottom: none;
                        margin: 0 10px;
                    }
                }
                .collapse_btn {
                    padding: 10px 35px 10px 10px;
                    font-size:16px;
                    font-weight: bold;
                    border-radius: 5px;
                    background: #fff;
                    transition: 0.5s;
                    border: none;
                    outline: none;
                    @include btn-shadow();
                    margin-bottom: 30px;
                    position: relative;
                }
                .fas{
                    position: absolute;
                    right:5px;
                    top:10px;
                }
                textarea {
                    text-align: center;
                }
                .tipText{
                    margin-bottom: 30px;
                    color: #999999;
                    font-size:16px;
                    &.display{
                        display: none;
                    }
                }
            }
        }
    }
}
.btn {
    background-color: $green;
    color: #fff;
    border-radius: 8px;
    margin: 30px 10px;
    @media screen and (max-width: 768px){
        margin: 0px 10px;
    }
    @include btn-shadow;
    cursor: pointer;
    .fas {
        color: white;
        margin-right: 5px;
    }
}
.btn-outline {
    background-color: #fff;
    color: $green;
    border: solid 2px $green;
    .fas {
        color: $green;
    }
}

