@media (max-width: 576px) {
  .navbar .navbar-brand {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .navbar_icon {
    margin-left: auto;
  }
}

input[type="checkbox"] {
  opacity: 0;
}

input[type="checkbox"]:checked + div {
  background-image: url(../../img/groupMember/checkmark-000.svg), -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
  background-image: url(../../img/groupMember/checkmark-000.svg), linear-gradient(to right, #fff, #fff);
}

.checkBox {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: solid 2px black;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
  background-image: linear-gradient(to right, #fff, #fff);
  background-size: contain, 100%;
}

#transferApplyCreate {
  font-weight: bold;
  font-size: 16px;
}

#transferApplyCreate hr {
  border-top: 2px solid #eb6868;
  margin: 30px 0;
}

#transferApplyCreate .transferApplyForm {
  padding: 0 20px 20px 20px;
  margin: 20px 0 30px 0;
  border-radius: 16px;
  -webkit-box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.2);
}

#transferApplyCreate .transferApplyForm label {
  margin: 20px 0 10px 0;
}

#transferApplyCreate .transferApplyForm label .require {
  color: red;
}

#transferApplyCreate .transferApplyForm .group {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#transferApplyCreate .transferApplyForm .group:last-child {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

#transferApplyCreate .transferApplyForm .dateInput {
  border: 2px solid #C4C3C3;
  color: #4D4D4D;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  border-radius: .25rem;
}

#transferApplyCreate .transferApplyForm .dateInput input {
  padding: 5px 10px;
}

@media screen and (max-width: 576px) {
  #transferApplyCreate .transferApplyForm .dateInput input {
    text-align: center;
  }
}

#transferApplyCreate .transferApplyForm .dateInput .date-icon {
  border: 2px solid #C4C3C3;
  height: 35px;
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -2px;
  border-radius: .25rem;
}

#transferApplyCreate .transferApplyForm .right + .calendar_modle {
  right: 0 !important;
  left: unset !important;
}

#transferApplyCreate .transferApplyForm .form-control {
  border: 2px solid #C4C3C3;
  color: #4D4D4D;
  font-size: 16px;
  font-weight: bold;
  padding: 3px 10px;
  letter-spacing: 0;
}

@media screen and (max-width: 576px) {
  #transferApplyCreate .transferApplyForm .form-control {
    text-align: center;
  }
}

#transferApplyCreate .transferApplyForm .form-control[readonly] {
  background-color: #EDEAEA;
  color: #999999;
}

#transferApplyCreate .announcement {
  max-width: 800px;
  margin: auto;
  line-height: 1.5rem;
}

#transferApplyCreate .announcement .title {
  color: red;
  letter-spacing: .5px;
  margin-bottom: 20px;
}

#transferApplyCreate .announcement .checkbox {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 25px 0;
}

@media screen {
  #transferApplyCreate .announcement .checkbox {
    margin-bottom: 40px;
  }
}

#transferApplyCreate .announcement .checkbox label {
  margin: 0 0 0 7px;
  color: #eb6868;
}

#transferApplyCreate .btn {
  width: 85px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #55beb7;
  color: #fff;
  border-radius: 8px;
  font-weight: bold;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

#transferApplyCreate .btn:first-child {
  margin-right: 20px;
}

#transferApplyCreate .btn:last-child {
  margin-left: 20px;
}

#transferApplyCreate .btn.btn-outline {
  background-color: #fff;
  color: #55beb7;
  border: solid 2px #55beb7;
}
/*# sourceMappingURL=transfer_apply_create.css.map */