$green: #56bdb7;
$pink: #eb6868;
$lightpink: #f7e1dc;

@mixin shadow {
    box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.2);
}

@mixin btn-shadow {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"] {
    opacity: 0;
}

input[type="checkbox"]:checked+div {
    background-image: url(../../img/groupMember/checkmark-000.svg),
        -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
    background-image: url(../../img/groupMember/checkmark-000.svg), linear-gradient(to right, #fff, #fff);
}

.checkBox {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: solid 2px $pink;
    background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
    background-image: linear-gradient(to right, #fff, #fff);
    background-size: contain, 100%;
}

.selectgroup {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectgroup:after {
    position: absolute;
    content: "";
    display: inline-block;
    border-style: solid;
    border-width: 7px 5px 0 5px;
    border-color: #000000 transparent transparent transparent;
    right: 10px;
    pointer-events: none;
}

#vacation_detail {
    font-weight: bold;
    font-size: 16px;

    hr {
        border-top: 2px solid $pink;
        margin: 30px 0;
    }

    .title {
        color: $pink;
        font-size: 25px;
        letter-spacing: .5px;
        margin-bottom: 20px;
    }

    .resultSearch {
        .searchForm {
            padding: 0 20px 20px 20px;
            margin: 20px 0 30px 0;
            border-radius: 16px;
            @include shadow();

            .collapse-control {
                position: relative;

                .collapse-btn {
                    width: 100%;
                    height: 38px;
                    display: flex;
                    align-items: center;
                    letter-spacing: 1.8px;
                    border-radius: .25rem;
                    border: 2px solid #ced4da;
                    color: #808080;
                    margin-top: 20px;
                    padding-left: 15px;
                }

                .collapse-icon {
                    position: absolute;
                    border: 1.5px solid #c4c3c3;
                    border-radius: .25rem;
                    height: 38px;
                    width: 38px;
                    right: 0;
                    top: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:after {
                        content: "";
                        display: inline-block;
                        border-style: solid;
                        border-width: 12px 7px 0 7px;
                        border-color: #000000 transparent transparent transparent;
                        pointer-events: none;
                    }
                }
            }

            label {
                margin: 20px 0 10px 0;

                .require {
                    color: red;
                }
            }

            .form-control {
                border: 2px solid #C4C3C3;
                color: #4D4D4D;
                font-size: 16px;
                font-weight: bold;
                padding: 3px 5px;
                letter-spacing: 0;
                height:unset;

                @media screen and (max-width: 576px) {
                    text-align: center;
                }
            }

            select {
                @media screen and (max-width: 576px) {
                    text-align-last: center;
                }
            }

            .form-control[readonly] {
                background-color: #EDEAEA;
                color: #999999;
            }

        }
    }

    table {
        text-align: center;
        border-collapse: separate;
        border-radius: 8px;
        border-spacing: 0;
        line-height: 1.2;
        letter-spacing: 0;
        table-layout: fixed;

        th,
        td {
            font-weight: bold;
            padding: 5px 0;
            vertical-align: inherit;
            border: solid 1px $pink;

            &:first-child {
                border-left: solid 2px $pink;
            }

            &:last-child {
                border-right: solid 2px $pink;
            }

            a {
                text-decoration: none;
                color: unset;
                white-space: nowrap;
            }
        }

        th {
            background-color: $pink;
            color: #fff;
            white-space: nowrap;
        }

        thead {
            tr {
                th {
                    &:first-child {
                        border-top-left-radius: 5px;
                    }

                    &:last-child {
                        border-top-right-radius: 5px;
                    }
                }
            }
        }

        tbody {
            &:nth-child(odd) {
                background-color: $lightpink;
            }

            &:last-child {
                tr {
                    td {
                        border-bottom: solid 2px $pink;

                        &:first-child {
                            border-bottom-left-radius: 5px;
                        }

                        &:last-child {
                            border-bottom-right-radius: 5px;
                        }
                    }
                }
            }
        }
    }

    .table-mb {
        font-size: 16px;
        line-height: 1.4em;

        .card {
            overflow: hidden;
            border: solid 2px $pink;
            border-radius: 8px;
            @include shadow();
        }

        .card+.card {
            margin-top: 20px;
        }

        .card:nth-child(even) {
            .tr {
                background-color: $lightpink;
                color: $pink;

                &:nth-child(even) {
                    background-color: #fff;
                    color: #000;
                }
            }
        }

        .tr {
            display: flex;
            border-bottom: solid 2px $pink;

            .td,
            .th {
                text-align: center;
                width: 100%;
                padding: 5px;
            }

            &:nth-child(odd) {
                background-color: $pink;
                color: #fff;
            }

            &:last-child {
                border-bottom: none;
            }

            .td:nth-child(2) {
                border-left: 2px solid $pink;
                border-right: 2px solid $pink;
            }

            .td:last-child {
                border-right: 0;
            }

        }
    }

    .paginationArea {
        margin-top: 30px;

        .pagination {
            li {
                margin-left: 15px;
            }

            li:nth-child(2) .fas {
                transform: scaleX(-1);
            }

            .fas.fa-play {
                font-size: 15px;
            }

            .fas {
                color: $pink;
                font-size: 20px;
                cursor: pointer;
            }

            .pageItem {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 25px;
                width: 25px;
                border-radius: 50%;
                cursor: pointer;

                &.active {
                    color: #fff;
                    background-color: $pink;
                }
            }

            input {
                width: 50px;
                border-radius: 2px;
                border: 2px solid #C4C3C3;
            }

            .go-btn {
                padding: 0 10px;
                box-shadow: 1px 1px 3px 1px rgba(67, 67, 67, 0.2);
                background-color: white;
                border-radius: 0px;
                color: $pink;
                border-radius: 5px;
            }
        }

        .pagination-md {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .selectgroup {
                width: 100px;
                height: 10px;
                text-align-last: center;
            }
        }
    }
}